{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "tsx": true // Allows for the parsing of TSX ???
    }
  },
  "plugins": ["@typescript-eslint", "import", "react-hooks", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "error", // Checks effect dependencies
    "no-console": 1, // Means warning
    "prettier/prettier": 0, // Means error
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    // "@typescript-eslint/no-var-requires": "off",
    // Disallow imports from src/server/ in src/pages/ except for src/pages/api
    // (see the "overrides" section for the exception)
    "import/no-restricted-paths": [
      "error",
      {
        "zones": [
          {
            "target": "./src/pages",
            "from": "./src/server"
          }
        ]
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  },
  "overrides": [
    {
      "files": ["next.config.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      // Allow imports from src/server/ in src/pages/api
      "files": ["src/pages/api/**/*"],
      "rules": {
        "import/no-restricted-paths": [
          "error",
          {
            "zones": [
              {
                "target": "./src/pages/api",
                "from": "./src/client/"
              }
            ]
          }
        ]
      }
    }
  ]
}
